# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Файлы БД
*.db
*.sqlite
*.sqlite3
instance/

# IDE
.idea/
.vscode/
*.iml

# Системные файлы
.DS_Store
Thumbs.db

# Сборка и дистрибутивы
*.egg-info/
*.egg
dist/
build/

# Логи
*.log